@charset "UTF-8";

#table{
	background-color: lightgreen;
	margin:0px 0px 0px 39%
}

#besinderheiten{
	font-family:italic;
}

#overflowprob{
	overflow:hidden;
}

#information{
	width: 20%;
	border: 2px solid black;
	
	margin:0px 5px 0px;
	text-align:center;
}

#information_long{
	width: 25%;
	border: 2px solid black;
	margin: 100px 0px 0px 20px;
	float:left;
	position:absolute;
	text-align:center;
	z-index: -1;
}

.top{
	margin: 20px 0px 0px 0px;
}

.small{
	float:left;
	margin: 0px 0px 0px 230px;
	width:55%;
	height:55%;
}

.tiny{
	float:left;
	margin: 0px 34px 0px 34px;
	width:5px;
	height:50%;
}

.left{
	
	float:left;
	margin: 30px 0px 0px 90px;
}

iframe { 
	width:100% ;
    height:100% ;
    border:none ;
}


body, html { 
	width:100% ;
    height:100% ;
}

table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;

}

p.kursiv{
	font-style:italic;
}

body{
	background-color: lightblue;
}

h1{
	font-family:verdana, serif;
	font-weight:bold;
	text-align:center;
}

h2{
	font-family:verdana, serif;
	font-weight:bold;
}

h3{
	font-family:verdana, serif;
	font-weight:bold;
}

h4{
	font-family:verdana, serif;
	font-weight:bold;
}

h5{
	font-family:verdana, serif;
	font-weight:bold;
}

h6{
	font-family:verdana, serif;
	font-weight:bold;
}

p{
	font-family:georgian, serif;
}